<div class="card <%= bg_color %>">
  <div class="card-title">
    <h5 class="ml-3 mt-3 <%= text_color %>">
      Form
      <%= card_toggler 'change-password-collapse' %>
    </h5>
  </div>

  <div class="collapse show" id="change-password-collapse">
    <div class="card-subtitle text-muted ml-3">
      <span class="<%= text_color %>">Change your current password</span>
    </div>

    <div class="card-body">
      <%= form_for(resource, 
                      as: resource_name, 
                      url: registration_path(resource_name), 
                      html: { method: :put }) do |f| %>

          <% if flash[:errors] %>
            <div id="error_explanation">
              
              <div class="alert <%= alert_color %>">
                <strong>Warning!</strong> Password change rejected
              </div>

              <ul>
                <% flash[:errors].each do |key, val| %>
                  <li class="<%= text_color %>"><%= "#{key.humanize} #{val[0]}" %></li>
                <% end %>
              </ul>
              <hr>
            </div>
          <% end %>

          <div class="form-group">
            <%= f.password_field :password, 
                                  autocomplete: "new-password",
                                  placeholder: "current password (leave blank if you don't want to change it)",
                                  class: "form-control" %>
          </div>

          <% if @minimum_password_length %>
            <div class="alert alert-info">
              <%= @minimum_password_length %> characters minimum
            </div>
          <% end %>

          <div class="form-group">
            <%= f.password_field :password_confirmation, 
                                  autocomplete: "new-password",
                                  placeholder: "password confirmation",
                                  class: "form-control" %>
          </div>
          
          <div class="form-group">
            <%= f.label :current_password, class: text_color %>
            <%= f.password_field :current_password, 
                                  autocomplete: "current-password",
                                  class: "form-control",
                                  placeholder: "(we need your current password to confirm your changes)" %>
          </div>

          <div class="form-group">
            <%= f.submit "Update",
                          class: "form-control #{btn_form}" %>
          </div>
        <% end %>
    </div>
  </div>
</div>