<div class="card <%= bg_color %>">
  <div class="card-title">
      <h5 class="ml-3 mt-3 <%= text_color %>">
      <%= I18n.t 'card.sign_in.title' %>
      <%= card_toggler 'sign-in-card-collapse' %>
      </h5>
  </div>

  <div class="collapse show" id="sign-in-card-collapse">
    
    <div class="card-subtitle text-muted ml-3">
      <span class="<%= text_color %>"><%= I18n.t 'card.sign_in.desc' %></span>
    </div>

    <div class="card-body">
      <table class="<%= "#{text_color} #{table_class}" %>">
        <tr>
          <td><%= I18n.t 'card.sign_in.count' %></td>
          <td><%= current_user.sign_in_count %></td>
        </tr>

        <tr>
          <td><%= I18n.t 'card.sign_in.current_time' %></td>
          <td><%= current_user&.current_sign_in_at %></td>
        </tr>
        
        <tr>
          <td><%= I18n.t 'card.sign_in.current_ip' %></td>
          <td><%= current_user&.current_sign_in_ip %></td>
        </tr>
        
        <tr>
          <td><%= I18n.t 'card.sign_in.last_time' %></td>
          <td><%= current_user&.last_sign_in_at %></td>
        </tr>
        
        <tr>
          <td><%= I18n.t 'card.sign_in.last_ip' %></td>
          <td><%= current_user&.last_sign_in_ip %></td>
        </tr>
      </table>
    </div>
  </div>
</div>